@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth transitions */
* {
  transition: background 0.4s ease, color 0.3s ease;
}

html, body{
  height: 100dvh;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

/* LIGHT THEME */
body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  background: linear-gradient(
    45deg,
    #ecf2f8,
    #ecf2f8
  );

  color: #0f172a;
}

/* DARK THEME */
.dark body{
  margin: 0;
  min-height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: linear-gradient(
    135deg,
    #020617,
    #0f172a
  );

  color: #ffffff;
}